.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-box {
  background-color: white;
  width: 770px;
  height: 550px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #ccc;
  outline: 20px solid white;
  margin: 0;
}

.highlight {
  background-color: lightgray;
  color: black;
  border-radius: 3px;
}

.text {
  font-size: 25px;
  font-family: 'poppins', sans-serif;
}

.right {
  font-size: 25px;
  color: #028a0f;
}

.wrong {
  font-size: 25px;
  color: red;
}

.restart-button {
  background-color: #17a2b8;
  color: white;
  font-family: 'poppins', sans-serif;
  border-radius: none;
  border-color: none;
  cursor: pointer;
  padding: 3px;
  height:40px;
  width: 100px;
}

.input-box {
  width: 600px;
  height: 40px;
  border-radius: 5px;
  font-size: 40px;
}

.info-container {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}



.input-restart-container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}